In [161]:
import streamlit as st
import plotly.graph_objects as go

import pandas as pd
import plotly.express as px
from supabase import create_client, Client

In [162]:
url = "https://dluhqrwmercbvgfhoxef.supabase.co"
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRsdWhxcndtZXJjYnZnZmhveGVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM3NTc5ODUsImV4cCI6MjA1OTMzMzk4NX0._R5TinJKV42TU0pFn0ZhJnzDjqshX4NZesVl9O8KC9o"

supabase: Client = create_client(url, key)

In [293]:
def get_reduction_data(
    start_date: str,
    end_date: str,
) -> pd.DataFrame:
    response = supabase.rpc(
        "get_pollution_reduction_2",
        {"start_date": start_date, "end_date": end_date},
    ).execute()
    df = pd.DataFrame(response.data)
    df = df[df["department"] != "Not_found"]
    df = df[df["region"] != "Île-de-france"]
    return df

In [296]:
df = get_reduction_data("2017-01-01","2025-04-01")

APIError: {'code': '57014', 'details': None, 'hint': None, 'message': 'canceling statement due to statement timeout'}

In [282]:
df

,town,department,region,pollutant,reduction,unit
0,Paris,Paris,Île-de-France,co,-258.0,µg/m³
2,Lyon,Rhône,Auvergne-Rhône-Alpes,co,-216.0,µg/m³
3,Lyon,Métropole de Lyon,Auvergne-Rhône-Alpes,co,-216.0,µg/m³
4,Bastia,Haute-Corse,Corse,o3,-21.6,µg/m³
5,Perpignan,Pyrénées-Orientales,Occitanie,no2,-21.0,µg/m³
...,...,...,...,...,...,...
721,Nantes,Loire-Atlantique,Pays de la Loire,co,98.0,µg/m³
722,Le Havre,Seine-Maritime,Normandie,co,114.0,µg/m³
723,Dunkerque,Nord,Hauts-de-France,co,119.0,µg/m³
724,Poitiers,Vienne,Nouvelle-Aquitaine,co,237.0,µg/m³
725,Mulhouse,Haut-Rhin,Grand Est,co,346.0,µg/m³

In [310]:
final_df = final_df.sort_values(by=['reduction'])
final_df[final_df['town']=='Lyon']

,town,department,region,pollutant_name,pollutant_units,value,datetime_from,datetime_to,reduction
460,Lyon,Métropole de Lyon,Auvergne-Rhône-Alpes,no,µg/m³,27.10,2023-04-01,2024-04-01,-8.30
459,Lyon,Métropole de Lyon,Auvergne-Rhône-Alpes,co,µg/m³,208.00,2023-04-01,2025-04-01,-8.00
463,Lyon,Métropole de Lyon,Auvergne-Rhône-Alpes,pm10,µg/m³,16.00,2023-04-01,2025-04-01,-6.00
464,Lyon,Métropole de Lyon,Auvergne-Rhône-Alpes,pm25,µg/m³,7.47,2023-04-01,2025-04-01,-3.63
462,Lyon,Métropole de Lyon,Auvergne-Rhône-Alpes,o3,µg/m³,51.50,2023-04-01,2025-04-01,-2.90
465,Lyon,Métropole de Lyon,Auvergne-Rhône-Alpes,so2,µg/m³,4.75,2023-04-01,2025-04-01,-1.02
461,Lyon,Métropole de Lyon,Auvergne-Rhône-Alpes,no2,µg/m³,42.00,2023-04-01,2025-04-01,0.20

In [311]:

def get_measurements_daterange_data(
    start_date: str,
    end_date: str,
) -> pd.DataFrame:
    response = supabase.rpc(
        "get_measurements_by_date_range",
        {
            "start_date": start_date,
            "end_date": end_date,
        },
    ).execute()
    df = pd.DataFrame(response.data)
    df = df[df["department"] != "Not_found"]
    df = df[df["region"] != "Île-de-france"]
    return df


df = get_measurements_daterange_data("2023-04-01","2025-04-01")