In [14]:
import streamlit as st
import plotly.graph_objects as go

import pandas as pd
import plotly.express as px
from supabase import create_client, Client

In [15]:
url = "https://dluhqrwmercbvgfhoxef.supabase.co"
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRsdWhxcndtZXJjYnZnZmhveGVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM3NTc5ODUsImV4cCI6MjA1OTMzMzk4NX0._R5TinJKV42TU0pFn0ZhJnzDjqshX4NZesVl9O8KC9o"

supabase: Client = create_client(url, key)

In [17]:
response = supabase.rpc(
    "heatmap_data",
    {
        "pollutant_name": 'co',
        "start_date": "2025-04-01",  # hack to only generate latest instead of average
        "end_date": "2025-04-01",
    },
).execute()
df = pd.DataFrame(response.data)

In [18]:
df

,town,pollutant,units,average,datetime_from,datetime_to,latitude,longitude
0,Nantes,co,µg/m³,391,2025-03-01T00:00:00,2025-04-01T00:00:00,47.204,-1.565
1,Dunkerque,co,µg/m³,315,2025-03-01T00:00:00,2025-04-01T00:00:00,51.024,2.302
2,Mulhouse,co,µg/m³,292,2025-03-01T00:00:00,2025-04-01T00:00:00,47.748,7.321
3,Dreux,co,µg/m³,273,2025-03-01T00:00:00,2025-04-01T00:00:00,48.761,1.234
4,Paris,co,µg/m³,258,2025-03-01T00:00:00,2025-04-01T00:00:00,48.862,2.345
5,Marseille,co,µg/m³,255,2025-03-01T00:00:00,2025-04-01T00:00:00,43.305,5.395
6,Poitiers,co,µg/m³,241,2025-03-01T00:00:00,2025-04-01T00:00:00,46.584,0.346
7,Rouen,co,µg/m³,226,2025-03-01T00:00:00,2025-04-01T00:00:00,49.437,1.099
8,Lyon,co,µg/m³,216,2025-03-01T00:00:00,2025-04-01T00:00:00,45.775,4.899
9,Le Havre,co,µg/m³,195,2025-03-01T00:00:00,2025-04-01T00:00:00,49.498,0.402
10,Auch,co,µg/m³,157,2025-03-01T00:00:00,2025-04-01T00:00:00,43.629,0.179

In [35]:
response = supabase.rpc(
    "heatmap_data_2",
    {
        "start_date": "2025-04-01",  # hack to only generate latest instead of average
        "end_date": "2025-04-01",
    },
).execute()
df2 = pd.DataFrame(response.data)
df2[df2['pollutant'] == 'co']

           town pollutant  units  average  latitude  longitude
12         Lyon        co  µg/m³    216.0    45.775      4.899
71    Dunkerque        co  µg/m³    315.0    51.024      2.302
81     Le Havre        co  µg/m³    252.0    49.503      0.232
287    Poitiers        co  µg/m³    241.0    46.584      0.346
362    Mulhouse        co  µg/m³    292.0    47.748      7.321
508       Dreux        co  µg/m³    273.0    48.761      1.234
659    Le Havre        co  µg/m³    138.0    49.493      0.572
696       Paris        co  µg/m³    258.0    48.862      2.345
711      Nantes        co  µg/m³    391.0    47.204     -1.565
895        Auch        co  µg/m³    157.0    43.629      0.179
916       Rouen        co  µg/m³    226.0    49.437      1.099
1002  Marseille        co  µg/m³    255.0    43.305      5.395

In [51]:

def get_measurements_daterange_data(
    start_date: str,
    end_date: str,
) -> pd.DataFrame:
    response = supabase.rpc(
        "get_measurements_by_date_range",
        {
            "start_date": start_date,
            "end_date": end_date,
        },
    ).execute()
    df = pd.DataFrame(response.data)
    df = df[df["department"] != "Not_found"]
    df['region'] = df['region'].replace("Île-de-france", "Île-de-France")

    return df

df_2 = get_measurements_daterange_data("2016-01-01","2025-04-01")

In [57]:
df_2['region'].nunique()

17

In [6]:
def get_all_measures() -> pd.DataFrame:
    response = supabase.rpc("get_filter_data").execute()
    all_measures = pd.DataFrame(response.data)
    all_measures = all_measures[all_measures["department"] != "Not_found"]
    all_measures = all_measures[all_measures["region"] != "Île-de-france"]
    all_measures["datetime_from"] = pd.to_datetime(all_measures["datetime_from"])
    all_measures["datetime_to"] = pd.to_datetime(all_measures["datetime_to"])
    return all_measures

df_2 = get_all_measures()

In [10]:
df_2.head(1)

,town,region,department,sensor_id,pollutant_name,datetime_from,datetime_to
0,Lodève,Occitanie,Hérault,5561,o3,2016-11-01,2016-12-01

In [13]:
df_2['region'].nunique()

17